/* foundation overides */
p {
	margin: 0;
	padding: 0;
}

/* base styles */
body {
	padding-bottom: 30px;
}


/* website styles */
.logo-container {
	background-color: blue;
	height: 200px;
}
.tagline-container {
	background-color: yellow;
	height: 200px;
}
.full-styling {
	width: 100%;
	height:100%;
}
.vert-pad {
	padding: 20px 0px;
}
.full-width {
	width: 100%;
}
.nav-bar {
	background: transparent;
}
.nav-bar > li {
border: none;
}
.nav-bar > li:last-child {
border-right: none;
}
ul.flyout li, .nav-bar li ul li {
border-left: none;
}
.flyout {
	width: 150px;
}
ul.flyout li a, .nav-bar li ul li a {
background: #fff;
border:none;
color: #555;
}
.strong {
	font-weight: bold;
}



